name: Alpha

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-2022

    steps:
      - uses: actions/checkout@v2
      - name: install poetry
        run: curl -sSL https://install.python-poetry.org | python3 -
        shell: bash
      - name: set path
        run: echo "C:\Users\runneradmin\AppData\Roaming\Python\Scripts" >> $GITHUB_PATH
        shell: bash
      - uses: actions/setup-python@v3
        with:
          python-version: '3.10'
      - name: debug
        run: pwd && ls -al
        shell: bash
      - name: install deps
        run: make install
        shell: bash
      - name: build application
        run: make build
        shell: bash
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-west-1
          role-to-assume: arn:aws:iam::008356366354:role/projects-live-bucket-BucketUploadRole-1USRJUF87S00F
          role-duration-seconds: 900
      - name: deploy application
        run: aws s3 sync "dist\Flight Tracker.exe" s3://projects-live-bucket-bucket-llkgmktc4xmo/flight-tracker --cache-control max-age=60 --acl public-read --delete
