name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-2022

    steps:
      - uses: actions/checkout@v2
      - name: install poetry
        run: curl -sSL https://install.python-poetry.org | python3 -
        shell: bash
      - name: set path
        run: echo "C:\Users\runneradmin\AppData\Roaming\Python\Scripts" >> $GITHUB_PATH
        shell: bash
      - uses: actions/setup-python@v3
        with:
          python-version: '3.10'
      - name: debug
        run: pwd && ls -al
        shell: bash
      - name: install deps
        run: make install
        shell: bash
      - name: build application
        run: make build
        shell: bash
      - name: update tag
        run: |
          git tag -d alpha
          git push --delete origin alpha
          git tag alpha
          git push --tags
      - name: upload application
        uses: softprops/action-gh-release@v1
        with:
          tag_name: alpha
          body: alpha (builds on every commit to main branch)
          files: "dist/Flight Tracker.exe"
          fail_on_unmatched_files: true
