name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: windows-2022

    steps:
      - name: install poetry
        run: curl -sSL https://install.python-poetry.org | python3 -
        shell: bash
      - name: set path
        run: echo "C:\Users\runneradmin\AppData\Roaming\Python\Scripts" >> $GITHUB_PATH
        shell: bash
      - name: debug
        run: pwd && ls -al
        shell: bash
      - name: install deps
        run: make install
        shell: bash
      - name: build application
        run: make build
        shell: bash